# Environment & Secrets
.env
*.env

# Cache & Python build artifacts
__pycache__/
*.py[cod]
*$py.class
.llm_cache.json
data/.llm_cache.json

# Large raw datasets
*.zip
customer-support-on-twitter.zip
data/twcs/
data/twcs/twcs.csv
data/raw_amazonhelp.csv


# IDE & OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db
